li{
    display:inline;
    font-size: 35px;
    margin: 70px;
    list-style: none;
    
}
ul{
    background-color: lime
}
h1{
    color:blue;
    text-align: center;
}
html{
    background-color: crimson
}
form{
    text-align: center;
}



button{
    text-align: center;
}

footer{
    text-align: center;
}